/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: lightgray;
}

.white {
    background-color: white;
}

main, section {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

section {
    border-radius: 15px;
}

.container{
    width: 70%;
    padding: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box {
    border-bottom: 1px solid lightgray;
    padding-left: 10%;
    width: 100%;
}

h2, h1{
    display: initial;
}

.row {
    padding-top: 1em;
    padding-bottom: 1em;
}
/* global */


/* nav */

.nav {
    height: 100px;
}

.nav img {
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav h1 {
    display: inline;
    font-size: 50px;
    line-height: 100px;
}

/* nav */


/* buttom section */

.btn {
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

.list {
    border: 3px solid rgb(93, 93, 155);
    background-color: cornflowerblue;
    color: white;
}

.new {
    background-color: white; 
}

/* buttom section */

/* list */

ul {
    list-style: none;
    padding-left: 1.3em;
}

.first:before
{
    content: '\23F7';  /* any design */
}

.tondo{
    color: lawngreen;
    border-radius: 100%;
    border: 3px solid lawngreen;
}

.check {
    color: lawngreen;
    border: 3px solid lawngreen;
}

.ics {
    color: red;
    border: 3px solid red;
}

.btn-first {
    border-radius: 15px;
    padding: 0.3em 1em;
    border: none;
}

.edit {
    background-color: #45abe9;
    color: white;
}

.goal {
    background-color: #9c72e4;
    color: white;
}

.recruiting {
    background-color: #64c0a9;
    color: white;
}

.mob {
    background-color: #f29e33;
    color: white;
}

.web {
    background-color: #d863a0;
    color: white;
}

.sale {
    background-color: #b0c926;
    color: white;
}